In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser

In [3]:
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [4]:
# read from clipboard
df1 = pd.read_clipboard()

In [5]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [13]:
df1.to_csv('df1.csv', index = False)

In [14]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7862-A70A

 Directory of C:\Users\ybu\Documents\GitHub\Python-Data-Analysis\Pandas

03/16/2019  07:18 PM    <DIR>          .
03/16/2019  07:18 PM    <DIR>          ..
03/16/2019  06:44 PM    <DIR>          .ipynb_checkpoints
03/16/2019  05:41 PM             2,701 3-1 Series.ipynb
03/16/2019  05:41 PM            34,237 3-2 Dataframe.ipynb
03/16/2019  05:41 PM            10,441 3-3 Understanding Series and DataFrame.ipynb
03/16/2019  07:18 PM             6,654 3-4 Dataframe IO.ipynb
03/16/2019  07:20 PM               509 df1.csv
               5 File(s)         54,542 bytes
               3 Dir(s)  204,900,007,936 bytes free

In [15]:
more df1.csv

In [16]:
df2 = pd.read_csv('df1.csv')

In [17]:
df2

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq

In [18]:
df1.to_json()

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"SQL","12":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"HDF5 Format","6":"Feather Format","7":"Msgpack","8":"Stata","9":"SAS","10":"Python Pickle Format","11":"SQL","12":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_hdf","6":"read_feather","7":"read_msgpack","8":"read_stata","9":"read_sas","10":"read_pickle","11":"read_sql","12":"read_gbq"},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":"to_hdf","6":"to_feather","7":"to_msgpack","8":"to_stata","9":" ","10":"to_pickle","11":"to_sql","12":"to_gbq"}}'

In [19]:
pd.read_json(df1.to_json())

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
10      binary  Python Pickle Format     read_pickle     to_pickle
11         SQL                   SQL        read_sql        to_sql
12         SQL      Google Big Query        read_gbq        to_gbq
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary               Msgpack    read_msgpack    to_msgpack
8       binary                 Stata      read_stata      to_stata
9       binary                   SAS        read_sas

In [20]:
df1.to_html('df1.html')

In [21]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7862-A70A

 Directory of C:\Users\ybu\Documents\GitHub\Python-Data-Analysis\Pandas

03/16/2019  07:22 PM    <DIR>          .
03/16/2019  07:22 PM    <DIR>          ..
03/16/2019  06:44 PM    <DIR>          .ipynb_checkpoints
03/16/2019  05:41 PM             2,701 3-1 Series.ipynb
03/16/2019  05:41 PM            34,237 3-2 Dataframe.ipynb
03/16/2019  05:41 PM            10,441 3-3 Understanding Series and DataFrame.ipynb
03/16/2019  07:22 PM            19,526 3-4 Dataframe IO.ipynb
03/16/2019  07:20 PM               509 df1.csv
03/16/2019  07:22 PM             2,057 df1.html
               6 File(s)         69,471 bytes
               3 Dir(s)  204,899,463,168 bytes free

In [22]:
df1.to_excel('df1.xlsx')

In [23]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 7862-A70A

 Directory of C:\Users\ybu\Documents\GitHub\Python-Data-Analysis\Pandas

03/16/2019  07:23 PM    <DIR>          .
03/16/2019  07:23 PM    <DIR>          ..
03/16/2019  06:44 PM    <DIR>          .ipynb_checkpoints
03/16/2019  05:41 PM             2,701 3-1 Series.ipynb
03/16/2019  05:41 PM            34,237 3-2 Dataframe.ipynb
03/16/2019  05:41 PM            10,441 3-3 Understanding Series and DataFrame.ipynb
03/16/2019  07:23 PM            20,924 3-4 Dataframe IO.ipynb
03/16/2019  07:20 PM               509 df1.csv
03/16/2019  07:22 PM             2,057 df1.html
03/16/2019  07:23 PM             6,007 df1.xlsx
               7 File(s)         76,876 bytes
               3 Dir(s)  204,898,107,392 bytes free