In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
data = {'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasilia'], 'Population': [11190846, 1303171035, 207847528]}

In [4]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

In [6]:
s1 = pd.Series(data['Country'])

In [7]:
s1

0    Belgium
1      India
2     Brazil
dtype: object

In [8]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [9]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df1 = pd.DataFrame(data)

In [11]:
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [12]:
df1['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [14]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
 'Population': [11190846, 1303171035, 207847528]}

In [15]:
s1 = pd.Series(data['Capital'])

In [16]:
s2 = pd.Series(data['Country'])

In [17]:
s3 = pd.Series(data['Population'])

In [23]:
df_new = pd.DataFrame([s1,s2,s3], index = ['Capital','Country','Population'])

In [24]:
df_new = df_new.T

In [25]:
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [26]:
df_new

     Capital  Country  Population
0   Brussels  Belgium    11190846
1  New Delhi    India  1303171035
2   Brasilia   Brazil   207847528